<p>
    Наші роботи постійно працюють над вдосконаленням своїх лінгвістичних навичок.
    Для цього вони вивчають латинський алфавіт та його застосування.
</p>

<p>
    Алфавіт містить як голосні, так і приголосні літери (так, ми ділимо літери).<br>
    Голосні - <b>A E I O U Y</b><br>
    Приголосні - <b>B C D F G H J K L M N P Q R S T V W X Z</b>
</p>

<p style="text-align: justify;">
    Вам дається блок тексту з різними словами. 
    Ці слова відокремлено пробілами та розділовими знаками.
    Числа у цьому завданні не вважаються словами (суміш букв і цифр також не є словом).
    Вам потрібно підрахувати кількість слів (смугастих слів), у яких чергуються голосні та приголосні; 
    у словах, які ви рахуєте, не може бути двох голосних або приголосних букв, що йдуть підряд.
    Слова, що складаються з однієї літери, не є смугастими - не рахуйте їх. Регістр для цього завдання не має значення.
</p>

<p>
   <strong>Вхідні дані:</strong> Текст у вигляді рядка <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Кількість смугастих слів як ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Пояснення:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

    
</div>

<p class="for_info_only">
   <strong>Як використовується:</strong>
    Це завдання є корисною вправою для лінгвістичних досліджень та аналізу.
    Обробка тексту є одним з основних інструментів, що використовується в аналізі різних книг і мов, і може допомогти перевести друкований текст у цифровий формат.
</p>


<p>
    <strong>Передумови:</strong>
    <ul>
        <li>Текст містить лише символи ASCII;</li>
        <li>0 &lt; len(text) &lt;<sup>105</sup>.</li>
    </ul>
</p>
